.WriteDiary {
  position: relative;
  .btn--write-new-diary {
    position: absolute;
    right: 10px;
    top: -80px;
  }
  .DiaryList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
    border: none;
    .DiaryItem,
    .DiaryNewItem {
      width: 350px;
      height: 300px;
      margin: 10px 20px;
      border: 1px solid rgb(192, 165, 165);
      border-radius: 10px;
      box-sizing: border-box;
      position: relative;
      .card-header {
        text-align: center;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .item-title {
        height: 60px;
        .title {
          height: 50px;
          font-size: 20px;
          background-color: rgb(223, 213, 213);
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          border: none;
          cursor: pointer;
        }
        .status--edit {
          .title {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
              border: none;
              background-color: rgb(223, 213, 213);
            }
          }
          .btn--edit-complete {
            position: absolute;
            right: 35px;
            top: 10px;
            border: none;
            border-radius: 5px;
            width: 30px;
            height: 30px;
          }
        }
        .status--show {
          .title {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .item-body {
        padding: 0 5px;
        button {
          border: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        .title {
          width: 50px;
          height: 30px;
          text-align: center;
          color: blue;
        }
        .content {
          cursor: pointer;
          width: 230px;
        }
        .status--show {
          display: flex;
        }
        .status--edit {
          .btn--edit-complete {
            width: 30px;
            height: 30px;
          }
        }
        .status--edit:first-child {
          display: flex;
        }
        textarea#review {
          border: none;
          min-height: 120px;
        }
      }
      .btn--complete {
        position: absolute;
        bottom: 10px;
        right: 50px;
        text-align: center;
      }
      .btn--out {
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: center;
      }
    }
    .add--button-area {
      width: 350px;
      height: 300px;
      margin: 10px 20px;
      border-radius: 10px;
      box-sizing: border-box;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .add--button {
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 20px;
        background-color: rgb(223, 181, 181);
      }
      .add--button:hover {
        background-color: rgb(196, 178, 178);
      }
    }
  }

  .WriteNewDiary {
    .WriteNewDiaryForm {
      position: fixed;
      z-index: 1;
      display: flex;
      justify-content: center; //수평 중앙정렬
      align-items: center; //수직 중앙정렬
      top: 220px;
      left: 0;
      right: 0;
      form {
        position: relative;
        background-color: white;
        width: 1000px;
        height: 700px;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid rgb(211, 196, 196);
        .input-group {
          .input-group-text {
            border-radius: 0;
            width: 100px;
            /* text-align: center; */
          }
          .form-control {
            border-radius: 0;
          }
        }
        .date .input-group-text {
          border-top-left-radius: 10px;
        }
        .date .form-control {
          border-top-right-radius: 10px;
        }
        .review .input-group-text {
          border-bottom-left-radius: 10px;
        }
        .review .form-control {
          border-bottom-right-radius: 10px;
        }
        .review {
          textarea {
            height: 450px;
            /* resize: none; */
            /* border-radius: 10px; */
            box-sizing: border-box;
          }
        }
        .btn--box {
          position: absolute;
          bottom: 20px;
          right: 20px;
          button {
            margin: 0 7px;
          }
        }
        .error-message {
          color: red;
          position: absolute;
          bottom: 25px;
        }
      }
    }
  }
}
